<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="/"
          text="Back"
          color="light"
          mode="ios"></ion-back-button>
      </ion-buttons>
    <ion-title class="ion-text-center">Información</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <a  href="https://www.latercera.com/pulso-pm/noticia/es-cara-la-electricidad-en-chile/WKBZ7AD77BC37I4H7VJ2X7L2VE/" target="_blank">
      <ion-img src="/assets/solar.jpg" ></ion-img>
      </a>
    <ion-card-header>
      <ion-card-title class="titulo">Energía Solar</ion-card-title>
    </ion-card-header>  

    <ion-card-content class="ion-padding contenido">
      Como bien sabemos, el valor de la Energía eléctrica (luz) cada vez viene subiendo más el precio, en la actualidad el valor es de 0,196 kWh,US$. El país más caro del mundo en materia eléctrica es Alemania con US$ 0,367 kwh, mientras que el más barato es Venezuela, donde el precio es prácticamente cero. En Chile la entidad calculó el precio de la electricidad de los hogares es de US$ 0,189, más barata que en Uruguay, pero más cara que en Perú, Colombia, Brasil y Argentina. Sobre la raiz de todo esto, hay varias maneras de generar ahorros de la Energía, la cual son muchas, pero en esta ocación se hablará de la Energia Solar.
    </ion-card-content>
    <ion-card-content class="ion-padding contenido">
      La energía solar es la producida por la luz –energía fotovoltaica- o el calor del sol –termosolar- para la generación de electricidad o la producción de calor. Inagotable y renovable, pues procede del sol, se obtiene por medio de paneles y espejos. Al contrario que las fuentes tradicionales de energía como el carbón, el gas, el petróleo o la energía nuclear, cuyas reservas son finitas, la energía del sol está disponible en todo el mundo y se adapta a los ciclos naturales (por eso las denominamos renovables). Por ello son un elemento esencial de un sistema energético sostenible que permita el desarrollo presente sin poner en riesgo el de las futuras generaciones. 
      </ion-card-content>
      <ion-card-content>
        Fuentes:
      </ion-card-content>
      <a  href="https://www.latercera.com/pulso-pm/noticia/es-cara-la-electricidad-en-chile/WKBZ7AD77BC37I4H7VJ2X7L2VE/" target="_blank">
        <ion-card>
          -La Tercera
        </ion-card>
        </a>
        <a  href="https://www.acciona.com/es/energias-renovables/energia-solar/?_adin=0896510562" target="_blank">
          <ion-card>
            -Acciona
          </ion-card>
          </a>
          <a  href="https://www.guiachileenergia.cl/gobierno-confirma-alza-en-cuentas-de-luz-y-expertos-calculan-que-podria-llegar-hasta-18/" target="_blank">
            <ion-card>
              -Guia Chile Energia
            </ion-card>
            </a>
          
  </ion-card>

</ion-content>