<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-avatar>
        <ion-img src="/assets/energy.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title class="ion-text-center">Energía</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>  <!--Similar a Ul y Ol en HTML5-->
              <!--ion item similar a li de HTML5-->
    <ion-item *ngFor="let c of componentes"   
      [routerLink] = "c.redirecTo"
      detail="true">
      <ion-icon [name]="c.icon"
        slot="start"
        color="primary"></ion-icon>
        {{c.name}}

    </ion-item>
  </ion-list>

  
    
</ion-content>
